name: test to build docker image

on:
  push:
    branches:
      - 'main'
    tags:
      - '*'
  workflow_dispatch:

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out dockerfile
        uses: actions/checkout@v4
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: |
            sameddemet/tuxsay-full
            sameddemet/tuxsay-small
      
      - name: Build and push Docker image
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
        with:
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: test
        run: |   
          echo "${{ steps.meta.outputs.tags }}"
      
      - name: Run Container
        run: |   
          docker run --rm ***/tuxsay-full:main 

      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: readme
          path: README.md
  
  edit_readme:
    name: send tuxsay to readme
    needs: push_to_registry
    runs-on: self-hosted
    steps:
      - name: Download production artifacts
        uses: actions/download-artifact@v4
        with:
          name: readme
          path: README.md